[nicoalert]
force_debug_tweet = false
mail = sample@example.com
password = mypassword
# comma separated community list
target_communities = co12345,co67890

[twitter-co12345]
consumer_key = xxx
consumer_secret = xxx
access_key = xxx
access_secret = xxx

[twitter-co67890]
consumer_key = yyy
consumer_secret = yyy
access_key = yyy
access_secret = yyy

[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=default

[handlers]
keys=default

[handler_default]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[formatters]
keys=default

[formatter_default]
format=[%(asctime)s] [%(levelname)s] %(message)s
datefmt=
